body{
    background-image: url(https://www.humanesociety.org/sites/default/files/styles/2000x950/public/2018/06/cat-217679.jpg?h=c4ed616d&itok=YU2ahGqn);
    background-repeat: no-repeat;
    background-color: black
}
.list-group {
    margin-top: 1rem;
}
.navbar{
    font-family: 'Coiny', serif;
}
.jumbotron {
    background-color: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
.jumbotron a{
    color: azure;    
}

#login{
    text-align: center; 
}

#login h1{
    /* font-family: 'Tangerine', serif; */
    font-family: 'Tangerine', serif;
}
